footer {
    @include flex(column, nowrap, center, center);
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;

    h3 {
        margin-top: 10px;
        font-size: 25px;
    }
}
  
.sponsor {
    background-color: white;
    @include flex(row, wrap, center, center);
    width: 100vw;

    img {
        width: 10vw;
        min-width: 100px;
        margin: 0.5%;
        max-width: 150px;
    }
}
  
.redes {
    margin-top: 5vh;
    
    a {
        padding: 30px 5px 0 5px;
        margin-inline: 5px;
        transition: all 0.2s;

        &:hover {
            background-color: blueviolet;
        }
    }

    svg {
        width: 40px;
    }
 
}
 
@media (max-width: 1200px) {
    header {
        nav {
            ul{
                li{
                    font-size: 16px;
                }
            }
        }
    }
 
    .redes {

        a {
            padding: 25px 5px 0 5px;
            margin-inline: 3px;
        }

        svg {
            width: 30px;
        }
    }
 
    .redes 
 
    footer {
        h3 {
            font-size: 16px
        } 
    }
}
 
@media (max-width:720px) {
   
    header {
        nav {
            display: flex;
            flex-direction: column;

            ul {
                width: 100%;
                justify-content: space-around;
            }
        }

    }    
}